body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #eee8dc;
  color: #070303;
}

header {
  text-align: center;
  background-color: #aa160e;
  color: white;
  padding: 20px;
}

nav {
  justify-content: space-between;
  text-align: center;
  background-color: #aa160e;
  padding: 20px 450px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav .nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav .nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

nav .nav-links li a:hover {
  color: #f5c4a0; 
}

.logo img {
  width: 70px;
  vertical-align: middle;
}

.logo h1 {
  display: inline-block;
  font-size: 2em;
  margin-left: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.headertext {
  font-style: italic;
}

table {
    margin: 100px;
    width: 80px;
}

table, th, td {
    border: 0;
    border-collapse: collapse;
    padding: 20px ;
}

th, td {
    padding: 20px 30px;
    text-align: center;
    border-bottom: 1px solid rgb(135, 26, 26);
}

table img {
    width: 200px;
}

h1 {
  text-align: center;
}

footer {
  clear: both;
  text-align: center;
  background-color: #b2583a;
  color: white;
  padding: 15px;
  margin-top: 20px;
}

footer a {
  color: #990e01;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}