body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #eee8dc;
  color: #070303;
}

header {
  text-align: center;
  background-color: #aa160e;
  color: white;
  padding: 20px;
}

nav {
  justify-content: space-between;
  text-align: center;
  background-color: #aa160e;
  padding: 20px 450px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav .nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav .nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

nav .nav-links li a:hover {
  color: #f5c4a0; 
}

.logo img {
  width: 70px;
  vertical-align: middle;
}

.logo h1 {
  display: inline-block;
  font-size: 2em;
  margin-left: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.headertext {
  font-style: italic;
}

p.text {
    text-align: center;
    font-style: italic;
}

form {
  border-radius: 5px;
  background-color: #ab1717;
  padding: 20px;
}

label {
    display: block;
    color: #f0c5a2;
}

input, select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #0d0d0d;
  border-radius: 4px;
  box-sizing: border-box;
}

input:hover {
  background-color: #ece2e2;
}

#showPopup {
  background-color: #aa160e;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

#showPopup:hover {
  background-color: #7b0802;
}

.popup {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background: #fff7ec;
  padding: 25px 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.popup-content p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #aa160e;
}

.popup-content button {
  background-color: #aa160e;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 18px;
  cursor: pointer;
  font-weight: bold;
}

.popup-content button:hover {
  background-color: #7b0802;
}

footer {
  clear: both;
  text-align: center;
  background-color: #b2583a;
  color: white;
  padding: 15px;
  margin-top: 20px;
}

footer a {
  color: #990e01;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}