*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #eee8dc;
  color: #070303;
}

.sidebar {
  position: fixed;
  left : -250px;
  top: 0;
  width: 250px;
  height: 100px;
  background-color: #141008;
  transition: all 5s ease;
  z-index: 1001;
  box-shadow: 2px 0 8px rgb(131, 7, 7);
}

.sidebar header {
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #aa160e;
  user-select: none;
}

.sidebar ul a {
  display: block;
  height: 100px;
  width: 100px;
  line-height: 65px;
  font-size: 20px;
  color: rgb(248, 229, 229);
  padding-left: 40px;
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid black;
  transition: all 0.3s ease;
}

.sidebar ul a:hover {
  padding-left: 50px;
  background: #3b2d15;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  z-index: 1000;
}


#check {
  display: none;
}

label #btn, label #cancel {
  position: absolute;
  cursor: pointer;
  background: #eee8dc;
  border-radius: 3px;
}

label #btn {
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: rgb(234, 223, 223);
  padding: 6px 12px;
  transition: all .5s;

}

label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: rgb(27, 27, 2);
  padding: 4px 9px;
  transition: all .5s ease;
}

#check:checked ~ .sidebar{
  left: 0;
}

#check:checked ~ .overlay {
  opacity: 1;
  visibility: visible;
}


#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel{
  left: 195px;
}

header {
  text-align: center;
  background-color: #aa160e;
  color: white;
  padding: 20px;
}

.logo img {
  width: 70px;
  vertical-align: middle;
}

.logo h1 {
  display: inline-block;
  font-size: 2em;
  margin-left: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.headertext {
  font-style: italic;
}

main {
  width: 70%;
  float: left;
  padding: 20px;
  text-align: center;
}

main img {
  width: 250px;
}

nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  gap: 15px;
}

.cookiebomb {
  width: 40%;
  margin: 20px auto;
  background: #ebe2d4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
}

.cookiebomb img {
  width: 250px;
}

.read-more-btn {
  display: inline-block;
  background-color: #aa160e;
  color: white;
  border-radius: 8px;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.read-more-btn:hover {
  background-color: #7b0802;
}

.brownies {
  width: 40%;
  margin: 20px auto;
  background: #ebe2d4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
}

.brownies img {
  width: 250px;
}

.kolaborasi {
  width: 40%;
  margin: 20px auto;
  background: #ebe2d4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
}

.kolaborasi img {
  width: 250px;
}

.fa-solid {
  color: #7b0802;
  background: rgb(233, 220, 173);
  padding: 15px 20px;
  margin-bottom: 18px;
  border-radius: 12px;
  box-shadow: 0 2px 6px black;
  transition: all 0.3s ease;
}

.fa-solid:hover {
  color: rgb(177, 105, 34);
  transform: scale(1.02);
  box-shadow: 0 3px 12px rgb(131, 7, 7);
}

aside{
  display: block;
  width: 25%;
  float: right;
  padding: 15px;
  margin-right: 10px;
  font-style: italic;
  background-color: #eee8dc;
  color: black;
}

aside p {
  width: fit-content;
}

footer {
  clear: both;
  text-align: center;
  background-color: #b2583a;
  color: white;
  padding: 15px;
  margin-top: 20px;
}

footer a {
  color: #990e01;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

